Sasken (NO Repeaters)
==================================
Designation		:	Java Developer
Skills			:	Core Java 
Percentage		:	65% in Degree
YOP				:	2016
Degree			:	BE / BTech / ME / MTech
Streams			:	ANY
Interview 		:	Bangalore
JOB Location	:	Bangalore
Interview Date 	: 	03-May-2017 
BOND			:	3 Years
Salary			:	3.25 LPA





Urjanet Energy Solution
==================================
Designation		:	Java Developer
Skills			:	Core Java 
Percentage		:	60% Throughout
YOP				:	2014 / 2015 / 2016
Degree			:	BE / BTech
Streams			:	ANY
Interview 		:	Bangalore
JOB Location	:	Chennai
Interview Date 	: 	26-Apr-2017 (Probable)
BOND			:	Not Avilable
Salary			:	2.1 LPA











CapGemini (NO Repeaters)
==================================
Designation		:	Software Engineer
Skills			:	Java / J2EE
Percentage		:	60% Throughout
YOP				:	2016
Degree			:	BE / BTech
Streams			:	ANY
Interview 		:	Bangalore
JOB Location	:	Pune
Interview Date 	: 	Not Avilable
BOND			:	Not Avilable
Salary			:	2.4 LPA




ArisGlobal 
====================
Designation		:	Java Developer
Skills			:	Java / J2EE
Percentage		:	60% Throughout
YOP				:	2016
Degree			:	BE / BTech
Streams			:	CS / IS / IT
Interview 		:	Bangalore
JOB Location	:	Mysore
Interview Date 	: 	Not Avilable
BOND			:	2 Years
Salary			:	As per Company Standards




CapGemini
====================
Designation		:	Software Engineer
Skills			:	Generic
Percentage		:	55% Throughout
YOP				:	2014 / 2015 / 2016
Degree			:	BSc / BCA
Streams			:	Any Streams
Interview 		:	Bangalore
JOB Location	:	Anywhere in India
Interview Date 	: 	Not Avilable
BOND			:	Not Avilable
Salary			:	Not Avilable









Signiti Cove 
==================================
Designation		:	Not Provided (Check with HR)
Skills			:	Not Provided (Check with HR)
Percentage		:	60% (Only Degree)
YOP				:	2015 / 2016
Degree			:	BE / Btech 
Streams			:	CS / IS / IT
Interview 		:	Bangalore 
JOB Location	:	Hyderabad 
Interview Date 	: 	Not Provided (Check with HR)
BOND			:	Not Provided (Check with HR)
Salary			:	1.8 LPA











Prasanna Technologies
==================================
Designation		:	SQL Developer
Skills			:	SQL
Percentage		:	50% Throughout
YOP				:	2015 / 2016
Degree			:	BE / Btech / ME / Mtech / MCA
Streams			:	Not Provided (Check with HR)
Interview 		:	Mangalore 
JOB Location	:	Mangalore 
Interview Date 	: 	Not Provided (Check with HR)
BOND			:	Not Provided (Check with HR)
Salary			:	1.8 LPA













Unisys
==================================
Designation		:	Software Developer
Skills			:	Core Java
Percentage		:	65% Throughout
YOP				:	2016
Degree			:	BE / Btech 
Streams			:	CS / IS / IT
Interview 		:	Bangalore 
JOB Location	:	Bangalore 
Interview Date 	: 	Not Provided (Check with HR)
BOND			:	Not Provided (Check with HR)
Salary			:	3.2 LPA




https://www.facebook.com/JSpiders.Basavanagudi/
https://twitter.com/JBasavanagudi
https://in.linkedin.com/
https://plus.google.com











L & AMP Technology
==================================
Designation		:	Core Branch (Check with HR)
Skills			:	Generic
Percentage		:	60% Throughout
YOP				:	2015 / 2016
Degree			:	BE / Btech 
Streams			:	EC / EEE
Interview 		:	Bangalore 
JOB Location	:	Bangalore / Mysore 
Interview Date 	: 	Not Provided (Check with HR)
BOND			:	Not Provided (Check with HR)
Salary			:	Not Provided (Check with HR)











CapGemini
==================================
Designation		:	Software Developer
Skills			:	Not Provided (Check with HR)
Percentage		:	60% Throughout
YOP				:	2015 / 2016
Degree			:	BE / Btech 
Streams			:	Any Streams
Interview 		:	Bangalore 
JOB Location	:	Bangalore 
Interview Date 	: 	Not Provided (Check with HR)
BOND			:	Not Provided (Check with HR)
Salary			:	N/A









Softtek
==================================
Designation		:	Software Developer
Skills			:	Core Java, SQL
Percentage		:	60% Throughout
YOP2016			:	2016
Degree			:	BE / Btech / ME / Mtech / MCA
Streams			:	Not Provided (Check with HR)
Interview 		:	Bangalore 
JOB Location	:	Bangalore 
Interview Date 	: 	Not Provided (Check with HR)
BOND			:	Not Provided (Check with HR)
Salary			:	2.4 LPA













Broadridge Financial Solutions
==================================
Designation		:	Software Developer
Skills			:	NA
Percentage		:	65% Throughout
YOP2016			:	2015 / 2016
Degree			:	BE / Btech / ME / Mtech / MCA
Streams			:	CS / IS / IT / EC / EEE
Interview 		:	Bangalore 
JOB Location	:	Hyderabad 
Interview Date 	: 	N/A
BOND			:	Yes - 3 years
Salary			:	3.65 LPA







Ness Technologies
====================
Designation	:	Software Developer
Skills		:	Core Java
Percentage	:	65% Throughout
YOP2016		:	2016
Degree		:	BE / Btech / MCA
Streams		:	CS / IS / IT
Interview 	:	Hyderabad 
JOB Location:	Hyderabad 
Interview Date : N/A


Solution togo
====================
Software Developer
Bangalore (JOB + Interview)
60% Throughout
2016
BE Btech
CS IS IT EC
Java / J2EE / SQL
Interview Date : 27 AUG (Confirmed)

